

<div class="text-center">
<div class="col-12">
<h1>cocktails</h1>
<% @cocktails.each do |cocktail| %>
<%= link_to cocktail.name, cocktail_path(cocktail) %>


<% end %>
<%= link_to "new dose",new_cocktail_dose_path(cocktail), class:"btn btn-danger"  %>
<%= link_to "add", new_cocktail_path, class:"btn btn-primary"  %>
</div>
</div>