<div class="text-center">
<div class="col-12 col-md-6 col-lg-3">
<h1>doses</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %> 
<%= f.association :ingredient, include_hidden: false %> 
<%= f.input :description %>       
<%= f.submit class: "btn btn-success" %>
  
<% end %>
</div>
</div>