<div class="text-center">
<div class="col-12 col-md-6 col-lg-3">
<h1>doses</h1>

<%= simple_form_for [@cocktail, @dose]  do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <button class="btn btn-primary"><%= f.button :submit %></button>
<% end %>
</div>
</div>